#div_displayGeneratedNumber::before{
    content: " ";
  width: 100%; 
  height: 340px;
  position: absolute; 
  top: 0; 
  left: 0;
background-image: linear-gradient(to top, transparent, #e3fcff);
}
#div_displayGeneratedNumber::after{
    content: " ";
  width: 100%; 
  height: 340px;
  position: absolute; 
  bottom: 0; 
  left: 0;
background-image: linear-gradient(to bottom, transparent, #e3fcff);
}







#div_displayGeneratedNumber {
    /* the div itself */
    margin: auto;
/*position: relative;
    /* the text itself */
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 47px;
    font-weight: bold;

    height: 780px;

overflow: hidden;

    /* test */
    /* border: solid red; */
}
