.headermain {
    transition: background-color 0.3s ease;
    background-color: #00000000;
    color: #000000;
    width: 100%;
    top: 0;
}

.headermain a {
    padding: 10px !important;
    border-radius: 3px;
}

.headermain a:hover {
    background-color: #00000033;
}